h1{
    text-align: center;
    color: white;
    font-family: "Space Mono", monospace;
    color: rgb(161, 71, 193);
}

body {
    /*background-color: #1D2951;*/
    background-color: rgb(25, 25, 30);
    margin: 0;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grid_container{
    animation: pawn_animation;
    animation-duration: 1s;
    display: grid;
    grid-template-columns: 8fr 8fr 8fr 8fr 8fr 8fr 8fr 8fr;
    width: 700px;
    height: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.grid_tile {
    margin: 0%;
    background-color: brown;
    height: 80px;
    width: 85px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.grid_tile:hover{
    background-color: yellow;
}

#pawn{
    animation: pawn_animation;
    animation-duration: 1s;
}

@keyframes pawn_animation {
    from{
        padding-left: 100%;
    }
    to {
       padding-left: 0%;
    }
}


    